[submodule "ext/json"]
	path = ext/json
	url = git@github.com:nlohmann/json.git
[submodule "ext/uritemplate-test"]
	path = ext/uritemplate-test
	url = git@github.com:uri-templates/uritemplate-test.git
